.low {
  color: red;
}

.high {
  color: springgreen;
}

table {
  width: 100%;
}

button{
  // color: goldenrod;
  background-color: gold;
}
#button3{
  color: blue;
}

#button1{
  color: black;
}

#button2{
  color: darkred;
}


