<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button id="button3"><a mat-button routerLink="/add-portfolio">Add new</a></button>
  </div>

  <mat-toolbar>
    <span>My Portfolio</span>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="currency">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><strong> Currency</strong>  </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Amount</strong>  </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfPurchase">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Date Of Purchase</strong>  </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.dateOfPurchase}} </td>
    </ng-container>

    <ng-container matColumnDef="walletLocation">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Wallet Location</strong>  </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.walletLocation}} </td>
    </ng-container>

    <ng-container matColumnDef="euroValue">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Value when purchased</strong>  </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.euroValue}}  €</td>
    </ng-container>

    <ng-container matColumnDef="currentEuroValue">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Current Value</strong>  </th>
      <td mat-cell *matCellDef="let portfolio"> {{portfolio.currentEuroValue}}  €</td>
    </ng-container>

    <ng-container matColumnDef="profitLostEuroValue">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Profit / Lost</strong>  </th>
      <td mat-cell *matCellDef="let portfolio" [ngClass]=" {'low' : portfolio.profitLostEuroValue < 0,  'high' : portfolio.profitLostEuroValue > 0}"> {{portfolio.profitLostEuroValue}} €</td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let portfolio">
        <mat-card-actions>
          <button id="button1" mat-raised-button (click)="update(portfolio.id)" >Update</button>
          <button id="button2" mat-raised-button (click)="delete(portfolio.id)" >Delete</button>
        </mat-card-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAllPortfolios"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAllPortfolios;"></tr>
  </table>

</div>
